@font-face {
    font-family: simplysans;
    src: url(fonts/simplysans.ttf);
}

@font-face {
    font-family: alte;
    src: url(fonts/alte.ttf);
}

html {
    margin: 0px !important;
    padding: 0px !important;
}

body {
    color: white;
    background-color:#1f1f1f;
    margin: 0px;
    width: 150px;
    font-family: alte !important;
}


/* .container {
    width: 120px;
} */

.container {
    font-size: 13px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.highlighted {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
    background-color: #555555;
}

.title {
    padding: 5px 2px;
    font-weight: 300;
    font-size: 15px;
}


#censoredContent {
    height: 90px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between !important;
}

.subtitle {
    font-size: 15px;
}

.result {
    height: 20px;
    font-size: 13px;
    text-align: center; 
    width: 100%;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: 10px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #555555;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.icons-container {
    justify-content:space-around;
}