
body.loading {
  display: none;
}

.hide {
  content-visibility: hidden;
}

.censored span {
  color: #8b8b8b !important;
  background-color: #8b8b8b;
  user-select: none; /* Standard syntax */
}

.censored a {
  text-decoration: none;
  color: #8b8b8b !important;
  background-color: #8b8b8b;
  user-select: none;
  pointer-events: none;
  cursor: default;
}

.censored img {
  content-visibility: hidden;
  /* visibility: hidden; */
  /* opacity: 0; */
  background-color: #8b8b8b; 
  margin: 0;
  user-select: none; /* Standard syntax */
}

.show span {
  user-select: auto;
  pointer-events: auto;
  cursor:pointer;
  color: #cc5b5b !important;
  background-color: transparent !important;
}

.show a {
  pointer-events: auto;
  cursor:pointer;
  color: #cc5b5b !important;
  background-color: transparent !important;
}

.show img {
  content-visibility: auto;
  background-color: transparent !important;
  opacity: 1;
}

.overlay-hidden {
  display: none !important; 
}

.overlay {
  font-weight: normal;
  color: #174f5c;
  background-color:gainsboro;
  border-radius: 4px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top:0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fadeInOut 3s ease-in-out forwards;
} 

@keyframes fadeInOut {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.95;
    display: none;
  }
}

.overlay img {
  height: 200px;
  display: block;
}


