
body.loading {
  display: none;
}

.censored span {
  color: #8b8b8b !important;
  background-color: #8b8b8b;
  user-select: none; /* Standard syntax */
}

.censored img {
  /* visibility: hidden; */
  background-color: #8b8b8b;
  user-select: none; /* Standard syntax */
}
.popup-hidden {
  display: none !important; 
}

.popup {
  font-weight: normal;
  color: #174f5c;
  background-color:gainsboro;
  border-radius: 4px;
  padding: 5px;
  display: block;
  position: fixed;
  top:0;
  right: 50px;
} 

