
body.loading {
  display: none;
}

.hide {
  content-visibility: hidden;
}

.censored span {
  color: #8b8b8b !important;
  background-color: #8b8b8b;
  user-select: none; /* Standard syntax */
}

.censored a {
  text-decoration: none;
  color: #8b8b8b !important;
  background-color: #8b8b8b;
  user-select: none;
  pointer-events: none;
  cursor: default;
}

.censored img {
  content-visibility: hidden;
  /* visibility: hidden; */
  /* opacity: 0; */
  background-color: #8b8b8b; 
  margin: 0;
  user-select: none; /* Standard syntax */
}

.show span {
  user-select: auto;
  pointer-events: auto;
  cursor:pointer;
  color: #cc5b5b !important;
  background-color: transparent !important;
}

.show a {
  pointer-events: auto;
  cursor:pointer;
  color: #cc5b5b !important;
  background-color: transparent !important;
}

.show img {
  content-visibility: auto;
  background-color: transparent !important;
  opacity: 1;
}

.popup-hidden {
  display: none !important; 
}

.popup {
  font-weight: normal;
  color: #174f5c;
  background-color:gainsboro;
  border-radius: 4px;
  padding: 5px;
  display: block;
  position: fixed;
  top:0;
  right: 50px;
} 

