@font-face {
  font-family: alte;
  src: url("fonts/alte.ttf") format("ttf");
}

body.loading {
  display: none;
}

.hide {
  content-visibility: hidden;
}

.abusive {
  color: #cc5b5b !important;
}

.censored,
.censored * {
  color: #8b8b8b !important;
  background-color: #8b8b8b !important;
  user-select: none; /* Standard syntax */
  pointer-events: none;
  text-decoration: none !important;
}

.censored span {
  padding: 1px;
}

.censored a {
  text-decoration: none !important;
  cursor: default;
}

.censored-img {
  height: 20px;
  vertical-align: -20% !important;
  margin: 0px !important;
  content-visibility: hidden !important;
}

.show span {
  user-select: auto;
  pointer-events: auto;
  cursor:pointer;
  color: #cc5b5b !important;
  background-color: transparent !important;
}

.show a {
  pointer-events: auto;
  cursor:pointer;
  color: #cc5b5b !important;
  background-color: transparent !important;
}

.show img {
  content-visibility: auto;
  background-color: transparent !important;
  opacity: 1;
}

.show-profanity .censored-profanity {
  user-select: auto;
  pointer-events: auto;
  cursor:pointer;
  color: #cc5b5b !important;
  background-color: transparent !important;
}

.overlay-hidden {
  display: none !important; 
}

.overlay {
  font-weight: normal;
  color: #174f5c;
  background-color:gainsboro;
  border-radius: 4px;
  display: flex;
  padding-top: 5%;
  justify-content: center;
  position: fixed;
  top:0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fadeInOut 3s ease-in-out forwards;
} 

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.98;
  }
  100% {
    opacity: 0.95;
  }
}

.overlay img {
  height: 200px;
  display: block;
}

.popupContainer {
  width: 100px;
}

.report-img {
  display: none;
  width: 25px;
  align-self: flex-end;
  position: absolute;
  z-index: 1;
}

.loader {
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #FACF4A; /* Blue */
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#toast {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 200px; /* Set a default minimum width */
  margin-left: -100px; /* Divide value of min-width by 2 */
  background-color: #DC3545; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 5px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
  font-family: alte !important;
  font-size: 15px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#toast.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.confirm-report {
  width: 100px;
  height: 60px;
  background-color: #DC3545;
}

