
@font-face {
    font-family: simplysans;
    src: url("/fonts/simplysans.ttf") format("ttf");
}

@font-face {
    font-family: "sublima";
    src: url("/fonts/sublima.otf");
}


body {
    border: 2px solid #14171A;
    height: 270px;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #373f47;
    font-family: "sublima";
}

.hidden {
    display: none;
}

.container {
    height: 270px;
    font-family: "sublima";
    font-size: 13px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row-reverse;
}

#main-window {
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#log-window {
    height: 100%;
    margin: 0;
}

#user-window {
    height: 100%;
    margin: 0;
}

#log-panel {
    width: 100%;
    min-width: 300px;
    height: 85%;
    overflow: scroll;
    overflow-x: hidden;
    margin: 0;
}

.tweet-log {
    border: 1px solid #14171A;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.tweet-container {
    width: 400px;
    user-select: none;
    align-items: center;
    padding: 5px;
    color: #14171A;
    margin: 5px;
    text-align: start;
    overflow-wrap: break-word;
}

.tweet-container p {
    margin: 0;
    width: 100%;
}

.tweet-container img {
    height: 18px;
    width: 18px;
    vertical-align: -20% !important;
    margin: 1px;
}

.tweet-container a {
    pointer-events: none;
}

.log-title {
    margin: 0;
    font-size: 15px;
}

#users-panel {
    width: 100%;
    min-width: 300px;
    height: 85%;
    overflow: scroll;
    overflow-x: hidden;
    margin: 0;
}

.user-log a {
    border: 1px solid #14171A;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px;
    margin: 5px;
    text-decoration: none;
    color: white;
    background-color: #1DA1F2;
}

.report-img {
    width: 20px;
    margin: 5px;
    cursor: pointer;
}

.selected {
    background-color: #8b8b8b !important;
}

#report-btn {
    display: none;
    position: absolute;
    right: 160px;
    top: 5px;
    background-color: #cc5b5b;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

.icons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
}

.icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}

.icon-user {
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
}

[type=checkbox] {
    margin-top: -12px;
    height: 20px;
    width: 20px;
    padding: 0;
    color: #1da1f2;
    vertical-align: middle;
    -webkit-appearance: none;
    background: none;
    border: 0;
    outline: 0;
    flex-grow: 0;
    border-radius: 50%;
    background-color: #373f47;
    transition: background 300ms;
    cursor: pointer;
  }

  [type=checkbox]::before {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    box-shadow: inset 0 0 0 1px #CCD3D8;
  }

  [type=checkbox]:checked {
    background-color: currentcolor;
  }
  
  [type=checkbox]:checked::before {
    box-shadow: none;
    background-image: url("images/check.png");
  }

.highlighted {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30px;
    width: 100%;
    background-color: #14171A;
}

.title {
    display: flex;
    justify-content: center;
    padding: 5px;
    font-weight:500;
    background-color: #14171A;
}


#censoredContent {
    /* text-shadow: 1px 1px 2px black; */
    height: 120px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.result {
    /* text-shadow: 1px 1px 2px black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: 10px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0; 
    right: 0;
    bottom: 0;
    background-color: #747b82;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #1DA1F2;
}

input:focus + .slider {
    box-shadow: 0 0 1px #1DA1F2;
}

input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
